@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-weight: 300;
	font-style: normal;
	src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}
@font-face {
	font-family: "Gilroy";
	font-weight: 300;
	font-style: normal;
	src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}
@font-face {
	font-family: "Gilroy";
	font-weight: 800;
	font-style: normal;
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}
body {
	font-size: 15px;
	line-height: 30px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	color: #000000;
	background-color: #ffffff; 
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 800;
	letter-spacing: 0.01em;
}
.logo {
	width: 164px;
	height: 35px;
}
.logo-link[href]:hover {
	opacity: 60%;
}
.logo-link[href]:active {
	opacity: 30%;
}
.btn {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
	text-transform: uppercase;
	letter-spacing: 0.2em;
	transition: background 0.5s;
}
.btn:hover {
	background: #f0c52e;
}
.btn span:active {
	opacity: 30%;
}
.main-header {
	background-image: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px);
}
.main-header ul {
	list-style: none;
}
.second-menu input[type="search"] {
	font-weight: 300;
	background-color: transparent; 
	border: 0;
	opacity: 30%;
}
.second-menu input[type="search"]:hover {
	opacity: 60%;
}
.second-menu input[type="search"]:focus {
	opacity: 100%;
}
.second-menu-item a{
	color: #000000;
}
.second-menu-item a:hover{
	opacity: 60%;
}
.second-menu-item a:active{
	opacity: 30%;
}
.second-menu-item-pale,
.user-menu-item-pale {
	opacity: 30%;
}
.main-menu-item > a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.main-menu-item > a:hover {
	opacity: 60%;
}
.main-menu-item > a:active {
	opacity: 30%;
}
.main-menu-nested-list a {
	color: #000000;
}
.main-menu-nested-list a[href]:hover {
	opacity: 60%;
}
.main-menu-nested-list a[href]:active {
	opacity: 30%;
}
.slider {
	background-image: linear-gradient(to bottom, #f7e296 113px, #ffffff 113px);
}
.slider-list {
	list-style: none;
}
.slide-number {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 179px;
	line-height: 179px;
	font-weight: 800;
	color: #ffffff;
}
.slide-title {
	line-height: 56px;
}
.slide-desc {
	color: #464646;
}
.slide-parameters tr:first-child {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 36px;
	line-height: 48px;
	font-weight: 300;
}
.slide-parameters tr:last-child {
	font-size: 13px;
	line-height: 20px;
	color: #464646;
}
.category-list {
	list-style: none;
}
.category-item a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
}
.category-item a:active {
	opacity: 30%;
}
.services {
	background-image: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px);
}
.services-list {
	list-style: none;
}
.services-item {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	text-transform: uppercase;
	background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
	letter-spacing: 0.2em;
}
.services-item:hover {
	background: #f0c52e;
}
.services-item:active {
	color: #f7e184;
	background-color: #000000;
}
.services-item-text {
	color: #464646;
}
.about-us-text,
.contacts-text {
	color: #464646;
}
.about-us-transport-company {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 40px;
	font-weight: 800;
}
.main-footer {
	background-color: #464646;
}
.main-footer svg {
	fill: #ffc600;
}
.user-menu {
	list-style: none;
}
.user-menu-item a {
	line-height: 36px;
	color: #ffffff;
	opacity: 70%;
}
.user-menu-item a:hover {
	opacity: 100%;
}
.user-menu-item a:active {
	opacity: 30%;
}
.adress {
	color: #ffffff;
}
.menu-list {
	list-style: none;
}
.menu-item a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #ffffff;
	letter-spacing: 0.2em;
}
.menu-item a:hover {
	opacity: 60%;
}
.menu-item a:active {
	opacity: 30%;
}
.main-footer .tel {
	color: #ffffff;
}
.social-list {
	list-style: none;
}
.popup label {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
}
.popup input,
.popup textarea {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	background-color: #e5e5e5;
	border: 0;
	opacity: 50%;
	border: 3px solid transparent;
	outline: none;
}
.popup input:hover,
.popup textarea:hover {
	opacity: 80%;
}
.popup input:focus,
.popup textarea:focus {
	border: 3px solid #f7e296;
	background-color: transparent;
	opacity: 100%;
}
.popup-submit {
	border: 0;
	background-color: transparent;
}
.map-big img{
	box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}
										/*---------- catalog.html ----------*/
.breadcrumbs {
	list-style: none;
}
.breadcrumbs a, 
.breadcrumbs-current {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	opacity: 30%;
}
.breadcrumbs a:hover {
	opacity: 60%;
}
.breadcrumbs a:active {
	opacity: 10%;
}
.filter-title {
	background-color: #dbdbdb;
}
.filter-title,
.sort-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
.filter-form {
	background-color: #efefef;
}
.filter-form legend {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	letter-spacing: 0.01em;
}
.price-values {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	opacity: 20%;
}
.property-list {
	list-style: none;
	font-size: 14px;
	line-height: 40px;
}
.property-list input:disabled + label {
	color: #a6a6a6;
}
.filter-btn {
	border: 0;
	background-color: transparent;
}
.sort {
	background-color: #ebebeb;
}
.sort-list {
	list-style: none;
}
.sort-list a {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	font-weight: 400;
	opacity: 30%;
}
.sort-list a[href]:hover {
	opacity: 60%;
}
.sort-list a[href]:active,
.sort-list-item-active a {
	opacity: 100%;
}
.product-list {
	list-style: none;
}
.product-name a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	font-weight: 800;
}
.product-price {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #464646;
}
.product-into-basket {
	border: 0;
	background-color: transparent;
}
.product-add {
	font-size: 13px;
	line-height: 36px;
	border: 0;
	background: none;
	opacity: 50%;
}
.product-add:hover {
	opacity: 100%;
}
.product-add:active {
	opacity: 20%;
}
.pagination {
	background-color: #ebebeb;
}
.pagination-list {
	list-style: none;
}
.pagination-btn {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
.pagination .prev:hover,
.pagination .next:hover {
	background-color: rgba(0, 0, 0, 0.2); 
}
.pagination-btn span:active {
	opacity: 30%;
}
.pagination-list a[href] {
	opacity: 30%;
}
.pagination-list a[href]:hover {
	opacity: 60%;
}
.pagination-list a[href]:active {
	opacity: 100%;
}