@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-weight: 300;
	font-style: normal;
	src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}
@font-face {
	font-family: "Gilroy";
	font-weight: 300;
	font-style: normal;
	src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}
@font-face {
	font-family: "Gilroy";
	font-weight: 800;
	font-style: normal;
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}
body {
	min-width: 1200px;
	font-size: 15px;
	line-height: 30px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	color: #000000;
	background-color: #ffffff; 
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.container {
	width: 1160px;
	padding: 0 20px;
	margin: 0 auto;
}
.title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 800;
	letter-spacing: 0.01em;
}
.logo {
	width: 164px;
	height: 35px;
}
.logo-link {
	display: block;
	width: 164px;
	height: 35px;	
}
.logo-link[href]:hover {
	opacity: 60%;
}
.logo-link[href]:active {
	opacity: 30%;
}
.btn {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
	text-transform: uppercase;
	letter-spacing: 0.2em;
	transition: background 0.5s;
}
.btn:hover {
	background: #f0c52e;
}
.btn span:active {
	opacity: 30%;
}
.main-header {
	padding: 23px 60px 53px 60px;
	background-image: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px);
}
.main-header .logo-link {
	margin-bottom: 35px;
}
.second-menu {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.second-menu input[type="search"] {
	width: 340px;
	padding-left: 40px;
	font-weight: 300;
	background-color: transparent; 
	border: 0;
	opacity: 30%;
}
.second-menu input[type="search"]:hover {
	opacity: 60%;
}
.second-menu input[type="search"]:focus {
	opacity: 100%;
}
.user-menu {
	display: flex;
	min-width: 500px;
	padding: 0;
	margin: 0;
	list-style: none;
}
.user-menu-item a {
	color: #000000;
}
.user-menu-item a:hover {
	opacity: 60%;
}
.user-menu-item a:active {
	opacity: 30%;
}
.user-menu-item-pale {
	opacity: 30%;
}
.main-menu {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.main-menu-item > a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.main-menu-item > a:hover {
	opacity: 60%;
}
.main-menu-item > a:active {
	opacity: 30%;
}
.main-menu-nested-list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.main-menu-nested-list a {
	color: #000000;
	line-height: 36px;
}
.main-menu-nested-list a[href]:hover {
	opacity: 60%;
}
.main-menu-nested-list a[href]:active {
	opacity: 30%;
}
.slider {
	padding-bottom: 110px;
	background-image: linear-gradient(to bottom, #f7e296 113px, #ffffff 113px);
}
.slider-list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.slide {
	position: relative;
	display: flex;
	justify-content: space-between;
}
.slide-number {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 179px;
	line-height: 179px;
	font-weight: 800;
	color: #ffffff;
}
.slide img {
	margin-left: 30px;
}
.slide-content {
	width: 500px;
}
.slide-title {
	line-height: 56px;
}
.slide-desc {
	color: #464646;
}
.slide-parameters tr:first-child {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 36px;
	line-height: 48px;
	font-weight: 300;
}
.slide-parameters tr:last-child {
	font-size: 13px;
	line-height: 20px;
	color: #464646;
}
.category {
	margin-bottom: 77px;
}
.category-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}
.category-item {
	width: 160px;
}
.category-item a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
}
.category-item a:active {
	opacity: 30%;
}
.services {
	padding: 80px 0 69px 0;
	background-image: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px);
}
.services .container {
	display: flex;
	justify-content: space-between;
}
.services-list {
	width: 277px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.services-item {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}
.services-item:hover {
	background: #f0c52e;
}
.services-item:active {
	color: #f7e184;
	background-color: #000000;
}
.services-desc {
	width: 760px;
}
.services-item-text {
	color: #464646;
}
.partners {
	padding: 100px 0;
}
.partners-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}
.index-column {
	display: flex;
	justify-content: space-between;
	padding-bottom: 90px;
}
.about-us {
	width: 470px;
}
.contacts {
	width: 560px;
}
.about-us-text,
.contacts-text {
	color: #464646;
}
.about-us-transport-company {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 40px;
	font-weight: 800;
}
.main-footer {
	padding: 65px 0;
	background-color: #464646;
}
.main-footer-top {
	display: flex;
	justify-content: space-between;
}
.main-footer svg {
	fill: #ffc600;
}
.main-footer .user-menu-link {
	line-height: 36px;
	color: #ffffff;
	opacity: 70%;
}
.main-footer .user-menu-link:hover {
	opacity: 100%;
}
.main-footer .user-menu-link:active {
	opacity: 30%;
}
.main-footer-middle {
	display: flex;
	justify-content: space-between;
}
.adress {
	color: #ffffff;
}
.menu-list {
	list-style: none;
}
.menu-item a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #ffffff;
	letter-spacing: 0.2em;
}
.menu-item a:hover {
	opacity: 60%;
}
.menu-item a:active {
	opacity: 30%;
}
.main-footer .tel {
	color: #ffffff;
}
.main-footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-footer-block {
	width: 80px;
	height: 7px;
	background-color: #ffc600;
}
.social-list {
	min-width: 141px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.popup label {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
}
.popup input,
.popup textarea {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	background-color: #e5e5e5;
	border: 0;
	opacity: 50%;
	border: 3px solid transparent;
	outline: none;
}
.popup input:hover,
.popup textarea:hover {
	opacity: 80%;
}
.popup input:focus,
.popup textarea:focus {
	border: 3px solid #f7e296;
	background-color: transparent;
	opacity: 100%;
}
.popup-submit {
	border: 0;
	background-color: transparent;
}
.map-big img{
	box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}
										/*---------- catalog.html ----------*/
.inner-page h1 {
	margin-left: 60px;
}
.breadcrumbs {
	margin: 0;
	padding: 0;
	margin-bottom: 45px;
	margin-left: 60px;
	list-style: none;
}
.breadcrumbs a, 
.breadcrumbs-current {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	opacity: 30%;
}
.breadcrumbs a:hover {
	opacity: 60%;
}
.breadcrumbs a:active {
	opacity: 10%;
}
.catalog-columns {
	display: flex;
}
aside.filter {
	display: flex;
	flex-direction: column;
	align-items: flex-end; 
	width: 32.5%;
	background-color: #efefef;
}
.filter-title-wrapper {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding-right: 68px;
	background-color: #dbdbdb;
}
.filter-title {
	width: 201px;
}
.filter-title,
.sort-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
.filter-form {
	width: 201px;
	padding-top: 69px;
	padding-right: 68px;
}
.filter-form fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}
.filter-form legend {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	letter-spacing: 0.01em;
}
.filter-form .filter-price {
	margin-bottom: 34px;
}
.price-values {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	opacity: 20%;
}
.filter-form .filter-color {
	margin-bottom: 41px;
}
.property-list {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 40px;
	list-style: none;
}
.property-list input:disabled + label {
	color: #a6a6a6;
}
.filter-form .filter-bluetooth {
	margin-bottom: 50px;
}
.filter-btn {
	border: 0;
	background-color: transparent;
}
.catalog {
	flex-grow: 1;
}
.sort {
	padding-left: 72px;
	background-color: #ebebeb;
}
.sort-wrapper {
	width: 760px;
}
.sort-title {
	margin: 0;
}
.sort-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sort-list a {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	font-weight: 400;
	opacity: 30%;
}
.sort-list a[href]:hover {
	opacity: 60%;
}
.sort-list a[href]:active,
.sort-list-item-active a {
	opacity: 100%;
}
.catalog-container {
	width: 760px;
	padding-top: 69px;
	padding-left: 72px;
	padding-bottom: 77px;
}
.product-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}
.product-item {
	margin-bottom: 65px;
}
.product-name {
	margin: 0;
}
.product-name a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	font-weight: 800;
}
.product-price {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #464646;
}
.product-into-basket {
	border: 0;
	background-color: transparent;
}
.product-add {
	font-size: 13px;
	line-height: 36px;
	border: 0;
	background: none;
	opacity: 50%;
}
.product-add:hover {
	opacity: 100%;
}
.product-add:active {
	opacity: 20%;
}
.pagination {
	background-color: #ebebeb;
}
.pagination-list {
	list-style: none;
}
.pagination-btn {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
.pagination .prev:hover,
.pagination .next:hover {
	background-color: rgba(0, 0, 0, 0.2); 
}
.pagination-btn:active span {
	opacity: 30%;
}
.pagination-list a[href] {
	opacity: 30%;
}
.pagination-list a[href]:hover {
	opacity: 60%;
}
.pagination-list a[href]:active {
	opacity: 100%;
}